<div class="container">
    <iframe src="https://embed.restream.io/player/index.html?token={{Model.Token}}" width="{{Model.Width}}" height="{{Model.Height}}" frameborder="0" allowfullscreen></iframe>
    <p>Orchard Core Restream Plugin Created by <a href="https://nicksoftware.co.za"> Nicolas Maluleke</a>, Powered by <a href="https://restream.io">Restream.io</a></p>
</div>