@model RestreamPartViewModel

<div class="container">
    <h3>Add Video frame Dimensions</h3>
<div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <label  asp-for="Width">@T["Video Frame Width"]</label>
            <input type="number" class="form-control" asp-for="Width" />
        </div>
    </div>
    <div class="col-md-6">
   <div class="form-group">
        <label  asp-for="Height">@T["Video Frame Height"]</label>
        <input type="number" class="form-control" asp-for="Height" />
    </div>
    </div>
 
</div>

</div>