@model Restream.OrchardCore.Settings.RestreamPartSettingsViewModel
<div class="form-group">
    <div class="row col-lg">
        <label asp-for="Token">@T["Video Frame token"]</label>
        <input asp-for="Token" class="form-control" />
        <span class="hint">@T["The Restream video token found in the imbedde Iframe code snippet ."]</span>
    </div>
</div>